<div class="d-flex justify-content-center" style="margin-top: 15px;">
    <div>
        <div class="text-center">

            <h1 style="font-size: 58px; font-weight: bold;">Let's Chat.</h1>
            <p>Are you ready to make something memorable?
            <br> We're ready to help.</p>
        </div>

        <div class="text-left">
            <form action="">
                <div class="formGroup">
                    <label class="col-form-label">Email</label>
                    <input class="form-control" type="text">
    
                    <label class="col-form-label">Message</label>
                    <input class="form-control" type="text">
                </div>
                <!-- <button class="btn btn-primary" class="form-control" type="button">Button</button> -->
            </form>
        </div>
        
        <button class="btn btn-dark" style="width: 100%; margin-top: 15px;" type="button">Submit</button>
        
        <div class="text-center" style="margin-top: 15px;">
            Lorem ipsum dolor sit amet consectetur <br>
            Lorem ipsum dolor sit amet.  
        </div>
    </div>
    
</div>
